body{
    width:100%;
    height:100vh;
    

    margin:0;

    
  background-color:#1b1b32;
  color:#f5f6f7;
  /*how do you make night mode?? hm*/

  }

  /*sorry what is vh,, vertical height??
  apparently some browsers mke a fake margin....so remove that by setting margin fi
   0 on the body. now everything is touching corners
  */

  label{
    display:block;
    margin:0.5rem 0;
  }
  /*and what is rem por favor??*/