body{
    width:100%;
    height:100vh;
    /*who is vh man*/
    
    
  font-family:Tahoma, sans-serif;
  font-size:16px;

    margin:0;

    
  background-color:#1b1b32;
  color:#f5f6f7;
  /*how do you make night mode?? hm*/

  }

  /*sorry what is vh,, vertical height??
  apparently some browsers mke a fake margin....so remove that by setting margin fi
   0 on the body. now everything is touching corners
  */

h1, p{
      margin:1em auto;
      text-align:center;
      }  
      
      /*shock horror regarding the multi comma ting icl*/
    
  label{
    display:block;
    margin:0.5rem 0;
  }
  /*and what is rem por favor??*/

  form{

    margin:0 auto;
    max-width:500px;
    width:60vw;
    min-width:300px;
    text-align: center;
  
  }
  /*please analyse this one bc vw and max v min are very*/

  fieldset{
    border:none;
    border-bottom:3px solid #3b3b4f;

    padding:2rem 0;
  }

  /*updoewnleftright design style for padding, how it works w diff parameter number*/

  fieldset{
    border:none;
  }
  /*this one sef when typing it looked so different each time something was typed.....why?
  
  */

  input, textarea, select{
    width:100%;
    margin: 10px 0 0 0;
    min-height: 2em;

  }
  /*in margin it's up right down left i think...like clockwise*/

  input,textarea{
    background-color:#0a0a23;
    border:1px solid #0a0a23;
    color: white;

  }
/*there has to be a more efficient way to write this*/

input[type="submit"]{
display: block;
width:60%;
min-width:300px;
margin: 1em auto;
font-size: 1.1rem;
height:2em;
background-color:#3b3b4f;
    border-color: white;

/*dk what this makes but hey man*/
}
  
input[type="file"]{
padding: 1px 2px;
}
  
.inline{
  width:unset;
  vertical-align: middle;

  margin: 0px;
  margin-right:0.5em;
}
/*who???  WHO IS UNSET? i think it means the 
prev values given for that surrounding class no longer apply anymore

didn't know i could do this for margin vs margin right yk

*/